@model IEnumerable<OloApplication.Models.TopOrder>

@{
    ViewBag.Title = "Olo's Pizza";
}

<div>
    <h1>Most Popular Pizza Toppings</h1>
    
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Topping Combination</th>
                    <th>Times Ordered</th>
                </tr>
            </thead>
            <tbody>
                @{int i = 0;}
                @foreach (var item in Model)
                {
                    i++;
                    <tr>
                        <td>@i.</td>
                        <td>@String.Join(", ", item.Toppings)</td>
                        <td>@item.TimesOrdered</td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>